/* You can add global styles to this file, and also import other style files */
body{
  background-color: #9b1f1fcc;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}


.form-label{
  color: white;
}